{% extends "base.html" %}
{% block title %}Formulario{% endblock %}
{% block content %}
<div class="content">
  <div class="container_12">
    <div class="grid_9">
      
      <h3 class="retro">Formulario</h3>
      <form action="/formulario" method="post">
        <label>Introduce una cadena</label>
        <input type="text" name="letra"/><br/>
        <label>Introce una temporada</label>
        <select type="number" name="temporada">
          <option value="0">Ninguna</option>
          <option value="1">Temporada 1</option>
          <option value="2">Temporada 2</option>
          <option value="3">Temporada 3</option>
          <option value="4">Temporada 4</option>
        </select>
        <br>
        <input type="submit" value="Enviar"/>
      </form>
      <br>

      {% if contador > 0 %}
        <p>Introducir un valor</p>
      {% else %}
        {% if not finalEpisodios %}
          <h4 class="retro">No hay Episodios</h4>
        {% else %}
        <table>
          <thead>
              <tr>
                  <th>Episodio</th>
                  <th>Puntuacion</th>
                  <th>Temporada</th>
                  <th>Descripcion</th>
              </tr>
          </thead>
          <tbody> 
                {% for enlace in finalEpisodios -%}
                <tr>
                <td class="center">{{ enlace.nombre }}</td>
                <td>{{ enlace.puntuacion }}</td>
                <td>{{ enlace.temporada }}</td>
                <td><a href="/detalle/{{ enlace.id }}">Detalle</a></td>
                </tr>
                {% endfor -%}
          </tbody>
      </table>
      {% endif %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}